nav {
    background: #008080de;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;

}

nav .nav-link {
    color: #fff;
    font-size: 17px;
}

.nav-link.header-active {
    text-decoration: none !important;
    background: none !important;
    border: none !important;
}